
<div id="phone">
    <div id="header">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" routerLink="/render">RENDER</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/right">RIGHT</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/order-status">ORDER STATUS</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/add-order">ADD ORDER</a></li>
        </ul>
    </div>
    <div id="header-enter">
        <router-outlet></router-outlet>
    </div>
</div>